header {
    @include d-flex;
    background-color: $color-white;
    justify-content: space-around;
    padding: 25px 0;
    position: relative;

    nav {
        ul {
            margin: 0px;
            padding: 0px;
        }
        li {
            @include hover;
            display: none;
            list-style: none;
            cursor: pointer;
            font-size: 1.3em;
            margin-right: 35px;
            margin-top: 13px;
        }
    }

    .search-icon{
        @include perfectCentering;
        background-color: $color-rosa;

        a{
            color: $color-white;
        }
    }
}
