header {
    @include d-flex;
    background-color: $color-white;
    justify-content: space-around;
    padding: 25px 0;

    nav {
        ul {
            margin: 0px;
            padding: 0px;
        }
        li {
            @include hover;
            display: none;
            list-style: none;
            cursor: pointer;
            font-size: $font-15;
        }
    }
}
